.home {
  display: flex;
  position: absolute;
  align-items: center;
  height: 60dvh;
  z-index: 1;
  margin-top: 100px;
}

.home-text {
  width: 700px;
}

.home-text h1 {
  font-size: 4rem;
  line-height: 1;
}

.home-text h2 {
  font-size: 6rem;
  line-height: 1.3;
}

.home-text p {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 10px;
}

.home-text p span {
  color: #06b6d4;
  font-weight: 900;
}
.social-icons {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.social-icons li {
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons li:hover {
  background: #06b6d4;
  color: white;
}

.home-button {
  background: #06b6d4;
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

.perfil img {
  width: 390px;
}